.nav-bar{
    display: flex;
    text-align: end;
    justify-content: end;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-footer{
    opacity: 35%;
}

#p-section{
    text-align: center;
}

#registrarse{
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    text-align: center;
}

#section-in{
    text-align: center;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-cards{
    padding-bottom: 25px;
}

.card{
    text-align: left;
}

#div-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price{
    font-size: 1.1rem;
    text-align: right;
}
