.nav-bar{
    display: flex;
    text-align: end;
    justify-content: end;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-footer{
    opacity: 35%;
}

.inp-reg{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#section-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
}
#div-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 450px;
}

#section-in{
    text-align: center;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}