.nav-bar{
    display: flex;
    text-align: end;
    justify-content: end;
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}
.text-footer{
    opacity: 35%;
}


#btn-reg{
    margin-bottom: 25px;
}
#select{
    margin-top: 10px;
    margin-bottom: 25px;
}
#p-reg{
    margin-top: 15px;
}
.inp-reg{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#section-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
}
#div-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 450px;
    background-color: beige;
}

#titulo-in{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#p-in{
    margin-top: 15px;
}
#btn-in{
    margin-bottom: 15px;
}
.inp-in{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#section-in{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 660px;
}

#container-cards{
    padding-bottom: 25px;
}

.card{
    text-align: left;
}

#div-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price{
    font-size: 1.1rem;
    text-align: right;
}
#div-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 450px;
    background-color: beige;
}
